django
djangorestframework
django-cors-headers
python-dotenv
pytesseract
Pillow
pdf2image
scikit-learn
joblib
pandas
numpy
opencv-python
spacy
transformers
nltk
pdfminer.six
langchain
python-dateutil
pycryptodome
regex
langdetect
torch
pdfplumber