
django==4.2.0
djangorestframework==3.14.0
django-cors-headers==4.0.0
python-dotenv==1.0.0
scikit-learn==1.2.2
pytesseract==0.3.10
pdf2image==1.16.3
pillow==9.5.0
transformers==4.28.1
torch==2.0.0
joblib==1.2.0
python-magic==0.4.27
whitenoise==6.4.0
gunicorn==20.1.0
psycopg2-binary==2.9.6
